.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 55px;
}

.value {
  font-size: 60px;
  font-weight: 700;
  color: white;
}

.field {
  text-align: center;
}

.label {
  display: block;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}
