.wrapper {
  display: flex;
  gap: 25px;
  margin-bottom: 40px;
}

.city-list {
  display: flex;
  gap: 25px;
}

.scroll {
  width: 600px;
  overflow-x: auto;
  padding-bottom: 10px;
}

.scroll::-webkit-scrollbar {
  height: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #e3e5e8;
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-track {
  background-color: #bfc4cc;
  border-radius: 10px;
}

.city-item {
  min-width: 175px;
  cursor: pointer;
}

.city-img {
  width: 175px;
  height: 175px;
  object-fit: cover;
}

.city-content {
  padding: 20px;
  border: 1px solid #f2f4f8;
}

.city-title {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 10px;
}

.date {
  font-size: 10px;
  color: #9e9e9e;
}

.is-active {
  border-color: #9fcfff;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f4f8;
  min-width: 175px;
  height: 175px;
  transition: background-color 300ms ease-in-out;
}

.btn:hover {
  background-color: #e3e8f0;
}

.btn-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
