.app-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.sort-btn {
  padding: 10px;
  border: none;
  background-color: #f5f5f5;
  border-radius: 10px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
}
